.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.social-links li a:hover {
    color: #000;
}

.social-links li.facebook a {
    color: #3b5998;
}

.social-links li.twitter a {
    color: #1da1f2;
}

.social-links li.youtube a {
    color: #ff0000;
}

.social-links li.gmail a {
    color: #202124;
}